body {
    color: darkslategray;
    background-color: lavenderblush;
    font-family: 'Victor Mono', monospace;
}
h1 {
    color: darkslategray; background-color: lightsteelblue;
    font-family: 'Victor Mono', monospace;
}
h2 {
    color: darkslategray; background-color: honeydew;
    font-family: 'Victor Mono', monospace;
}
a {color: darkslategray;}