body {
    color: darkslategray;
    background-color: lavenderblush
}
h1 {color: darkslategray; background-color: lightsteelblue}
h2 {color: darkslategray; background-color: honeydew}
a {color: darkslategray;}