body {
    color: darkslategray;
    background-color: lavenderblush;
    font-family: 'Victor Mono', monospace;
}
h1 {
    color: darkslategray; background-color: lightsteelblue;
    font-family: 'Victor Mono', monospace;
}
h2 {
    color: darkslategray; background-color: honeydew;
    font-family: 'Victor Mono', monospace;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: azure;
}

nav a {color: black}
nav {color: black}

nav a:hover {background-color: aqua;}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}